<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>h1</h1>
    <p id="output"></p>
    <button id="btn" onclick="handleCLick()">按我</button>
    <script>
        const output = document.getElementById("output");
        function handleCLick(){
            const input = "展開(a+b)^2";
            const source = new EventSource('/api/chat?q='+encodeURIComponent(input));
            console.log("開始...");
            source.onmessage = (event) =>{
                if(event.data == "[DONE]"){
                    source.close();
                    console.log("stream end");
                    return;
                }
                console.log(JSON.parse(event.data));
            }
        }
        
    </script>
</body>

</html>