<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *,::after,::before {
            box-sizing: border-box;
            border: 0;
            margin: 0;
        }
        body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            min-height: 100dvh;
        }
        h1 {
            color: rgb(88, 88, 182);
        }
    </style>
</head>
<body>
    <h1>health and wealth  through God </h1>
    <p>goijjgoi</p>
</body>
</html>